# Bank Tech Test 

I was tasked with creating a project that mimicked a bank statement and detailed transactions that had taken place on the 'account'. 

![Output](https://myoctocat.com/assets/images/base-octocat.svg)